
<div *ngFor="let message of messages">
  {{message}}
</div>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send</button>



<h1>Probando reactividad</h1>

<input type="text" [(ngModel)]="nombre">
<input type="text" [(ngModel)]="apellido">

<button  (click)="Insertar()" >Insertar</button>

<router-outlet></router-outlet>
